/* Global */
:root {
  /* Color */
  --color-black: #000000;
  --color-grey-white: #f7f6ee;
  --color-light-grey: #bfbfbf;
  --color-grey: #949494;
  --color-light-pink: #ffdada;
  --color-light-yellow: #fffec3;
  --color-olive-green: #5d9f40;
  /* Font Size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 15px;
  --font-small: 12px;
  --font-micro: 10px;
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 20px;
}

body {
  background: url("images/Home_Background.png") center/cover repeat;
  margin: 0px;
  font-family: "Audiowide", sans-serif;
  cursor: default;
}

/* Font color, size */
h1,
h2,
h3 {
  color: var(--color-olive-green);
}
dl {
  color: var(--color-olive-green);
}
ul {
  color: var(--color-olive-green);
}
p {
  text-align: center;
  color: var(--color-olive-green);
}

.Main {
  position: relative;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.Greet {
  height: 200px;
  position: relative;
  text-align: center;
}

.New_h2 {
  margin-top: 50px;
}
.New_Jeans {
  display: flex;
  left: 20%;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

.New_Jeans2 {
  display: flex;
  left: 70%;
  position: absolute;
  width: 150px;
  height: 150px;
}
.Languages {
  margin: auto;
  display: flex;
  text-align: center;
  width: 600px;
}
.Langs {
  display: grid;
  position: relative;
  text-align: center;
}

.Lang_Contents {
  margin: auto;
  position: relative;
  display: flex;
}
.Coding_img {
  width: 100px;
  height: 100px;
}

hr {
  border-style: dashed;
  color: var(--color-light-pink);
}

.LeadershipExperience {
  display: grid;
  position: relative;
  text-align: center;
}

.Experience_img {
  width: 200px;
  height: 200px;
}

.EL_contain {
  margin: auto;
  position: relative;
  display: flex;
}

.Skills {
    display: grid;
    position: relative;
    text-align: center;
}
.Skills_png {
  width: 100px;
  height: 100px;
}
.Skills_contain {
    margin: auto;
    position: relative;
    display: flex;
}
.Contacts {
    text-align: center;
}
.Contacts_form {
    border-radius: var(--size-border-radius);
    margin: auto;
    height: 500px;
    width: 1000px;
    background-color: var(--color-grey-white);
    position: relative;
    text-align: center;
}

.form_contain {
    background-color: var(--color-light-grey);
    margin: auto;
    width: 450px;
    position: relative;
    text-align: center;
    border-radius: var(--size-border-radius);
}
